<h1>Weeks</h1>
<hr>
<h2>Week <%= @week.week_number %></h2>

<ul>
   <% @week.days.each do |day| %>
   <li><%= link_to day.name, edit_week_day_path(@week, day) %></li>
   <!-- Add a workout for this day by editing the day? -->
   <!-- OR -->
   <p><%= link_to "Add workout for day", new_workout_path %></p>
   <!-- Add a workout for this day by creating new workout ( but need to pass in the day your adding workout too) -->
   <% end %>
</ul>
